x-listview {
	   display: block;
	   height: 100%;
	   width: 100%;
	   overflow: auto;
	   background: #fffeee;
}

x-listview p {
	   padding: 5px;
	   font-family: Helvetica;
	   font-size: 16px;
	   border-color: silver;
	   border-bottom-style: solid;
	   border-width: 1px;
}