x-listview {
           display: block;
           height: 100%;
           width: 100%;
           overflow: auto;
}

x-listview li {
           border-bottom-style: solid;
           border-width: 1px;
}

x-listview li * {
           display: block;
           text-decoration: none;
           padding: 5px;
}

@media (max-width: 480px) {

       x-listview {
                  display: block;
	          height: 100%;
	          width: 100%;
	          overflow: auto;
	          -webkit-overflow-scrolling: touch;
       }

       x-listview li {
	          padding: 5px;
	          border-bottom-style: solid;
	          border-width: 1px;
       }

}